/* ============================================ *
 * Variables
 * ============================================ */
@import "mixins"; // Custom mixins, functions, etc

// Sizes
$max-width: 1170px;
$desktop: 1170px;
$tablet: 767px;
$mobile: 479px;

// Colors
$c-darkBlue: #1a1c27;
$c-midBlue: #222533;
$c-lightBlue: #34495e;
$c-blue: #21c2f8;
$c-offBlue: #a1b1bc;

$c-textDarkBlue: #2c3e50;