/* ============================================ *
 * Typography
 * ============================================ */

// Google Fonts
$Montserrat: "Montserrat", sans-serif;
$lato: "Lato", sans-serif;

// Variables
$f-size: 16px;
$f-lh: 1;


