/* ============================================ *
 * Typography
 * ============================================ */

// Google Fonts
$montserrat: "Montserrat", sans-serif; // 400,700
$lato: "Lato", sans-serif; // 300,400,400italic,700,900

// Global
h1,h2,h3,h4,h5,p,a,span,dd,dl,input,textarea,button,label {
  @include antialias;
  font-family: $lato;
  font-weight: 400;
}

// Links
a {
  font-family: $lato;
  font-size: 14px;
  text-decoration: none;
  outline: none;
}

// Headers
h1 {
  font-family: $lato;
  font-size: 36px;
  color: $c-textDarkBlue;
}

// Special
.bold { font-weight: 700; }
.light { font-weight: 300; }
.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }

// Paragraph
p {
  font-family: $lato;
  font-size: 14px;
  line-height: 1.5;
  color: $c-offBlue;
}